# Predictions

In [54]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
from xgboost import XGBClassifier
import numpy as np

In [32]:
# Predict no heart attack or heart attack

In [33]:
# Get dataset
full_dataset = pd.read_csv('data/2015.csv')
preprocessed_dataset = pd.read_csv('data/preprocessed_dataset.csv')

In [34]:
# Get rows where CVDINFR4 = 7 or 9 from the dataset to make predictions
dataset = full_dataset.loc[full_dataset['CVDINFR4'].isin([7, 9])]
dataset.reset_index(drop=True, inplace=True)

In [35]:
dataset.head()

,_STATE,FMONTH,IDATE,IMONTH,IDAY,IYEAR,DISPCODE,SEQNO,_PSU,CTELENUM,...,_PAREC1,_PASTAE1,_LMTACT1,_LMTWRK1,_LMTSCL1,_RFSEAT2,_RFSEAT3,_FLSHOT6,_PNEUMO2,_AIDTST3
0,1.0,1.0,b'02012015',b'02',b'01',b'2015',1200.0,2.015000e+09,2.015000e+09,1.0,...,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0,NaN
1,1.0,1.0,b'01142015',b'01',b'14',b'2015',1100.0,2.015000e+09,2.015000e+09,1.0,...,4.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2,1.0,3.0,b'03072015',b'03',b'07',b'2015',1200.0,2.015000e+09,2.015000e+09,1.0,...,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0,NaN
3,1.0,2.0,b'02172015',b'02',b'17',b'2015',1100.0,2.015000e+09,2.015000e+09,1.0,...,4.0,2.0,1.0,1.0,2.0,1.0,1.0,NaN,NaN,1.0
4,1.0,2.0,b'02222015',b'02',b'22',b'2015',1100.0,2.015000e+09,2.015000e+09,1.0,...,9.0,9.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,1.0

In [36]:
# Get only the columns important for the model
prediction_dataset = dataset[preprocessed_dataset.columns]

In [37]:
prediction_dataset.head()

,FRUTDA1_,HTIN4,PDIABTST,PAFREQ2_,LASTSMK2,TRNSGNDR,PREDIAB1,HAVARTH3,ACTIN11_,BLOODCHO,...,INTERNET,SEX,CVDSTRK3,GENHLTH,DIFFWALK,_AGEG5YR,BPHIGH4,EMPLOY1,CVDCRHD4,CVDINFR4
0,NaN,71.0,1.0,NaN,NaN,NaN,3.0,1.0,NaN,1.0,...,2.0,2.0,1.0,4.0,NaN,11.0,3.0,7.0,2.0,7.0
1,100.0,61.0,1.0,7000.0,7.0,NaN,3.0,1.0,2.0,1.0,...,2.0,1.0,2.0,5.0,1.0,13.0,1.0,3.0,2.0,7.0
2,NaN,70.0,NaN,NaN,7.0,NaN,NaN,1.0,NaN,1.0,...,2.0,1.0,7.0,5.0,1.0,13.0,1.0,7.0,2.0,7.0
3,29.0,62.0,NaN,NaN,5.0,NaN,NaN,1.0,1.0,1.0,...,2.0,2.0,2.0,3.0,2.0,8.0,1.0,5.0,2.0,7.0
4,13.0,60.0,1.0,NaN,7.0,NaN,3.0,1.0,1.0,1.0,...,2.0,2.0,2.0,5.0,1.0,10.0,1.0,7.0,7.0,7.0

In [38]:
# Remove the CVDINFR4 column from the prediction dataset
prediction_dataset.drop(['CVDINFR4'], axis=1, inplace=True)

C:\Users\lilo2\anaconda3\lib\site-packages\pandas\core\frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [39]:
# Normalize prediction dataset
scaler = StandardScaler()
prediction_dataset_norm = scaler.fit_transform(prediction_dataset)

In [40]:
prediction_dataset_norm

array([[        nan,  1.081103  , -0.56470582, ...,  0.52466532,
         0.51898692, -0.4148563 ],
       [ 0.11101274, -1.24463313, -0.56470582, ..., -0.62866703,
        -0.95420231, -0.4148563 ],
       [        nan,  0.84852939,         nan, ..., -0.62866703,
         0.51898692, -0.4148563 ],
       ...,
       [-0.72247817,  1.081103  ,         nan, ..., -0.62866703,
        -1.69079693, -0.4148563 ],
       [ 0.11101274, -0.08176506,         nan, ..., -0.62866703,
        -0.2176077 , -0.4148563 ],
       [-0.85816274, -0.54691229,         nan, ..., -0.62866703,
        -0.2176077 , -0.83139446]])

In [41]:
prediction_dataset_norm = pd.DataFrame(data = prediction_dataset_norm, columns=prediction_dataset.columns)
prediction_dataset_norm.head()

,FRUTDA1_,HTIN4,PDIABTST,PAFREQ2_,LASTSMK2,TRNSGNDR,PREDIAB1,HAVARTH3,ACTIN11_,BLOODCHO,...,CHCCOPD1,INTERNET,SEX,CVDSTRK3,GENHLTH,DIFFWALK,_AGEG5YR,BPHIGH4,EMPLOY1,CVDCRHD4
0,NaN,1.081103,-0.564706,NaN,NaN,NaN,-0.160941,-0.545319,NaN,-0.322982,...,-0.192019,0.436851,0.969509,-0.787482,0.454111,NaN,0.487435,0.524665,0.518987,-0.414856
1,0.111013,-1.244633,-0.564706,1.111088,-0.043007,NaN,-0.160941,-0.545319,1.128665,-0.322982,...,-0.192019,0.436851,-1.031450,-0.285251,1.217471,-0.622640,1.064743,-0.628667,-0.954202,-0.414856
2,NaN,0.848529,NaN,NaN,-0.043007,NaN,NaN,-0.545319,NaN,-0.322982,...,-0.728373,0.436851,-1.031450,2.225905,1.217471,-0.622640,1.064743,-0.628667,0.518987,-0.414856
3,-0.577102,-1.012060,NaN,NaN,-0.262257,NaN,NaN,-0.545319,-0.702851,-0.322982,...,-0.192019,0.436851,0.969509,-0.285251,-0.309248,0.163046,-0.378526,-0.628667,-0.217608,-0.414856
4,-0.732170,-1.477207,-0.564706,NaN,-0.043007,NaN,-0.160941,-0.545319,-0.702851,-0.322982,...,-0.728373,0.436851,0.969509,-0.285251,1.217471,-0.622640,0.198781,-0.628667,0.518987,1.667834

In [42]:
# Get labels from preprocessed database
labels = preprocessed_dataset['CVDINFR4']

In [43]:
labels

0         0
1         0
2         0
3         0
4         0
         ..
439222    0
439223    0
439224    0
439225    0
439226    1
Name: CVDINFR4, Length: 439227, dtype: int64

In [44]:
# Remove the CVDINFR4 column from the preprocessing dataset
preprocessed_dataset.drop(['CVDINFR4'], axis=1, inplace=True)

In [45]:
# Normalize preprocessed dataset
scaler = StandardScaler()
preprocessed_dataset_norm = scaler.fit_transform(preprocessed_dataset)

In [46]:
preprocessed_dataset_norm = pd.DataFrame(data = preprocessed_dataset_norm, columns=preprocessed_dataset.columns)
preprocessed_dataset_norm.head()

,FRUTDA1_,HTIN4,PDIABTST,PAFREQ2_,LASTSMK2,TRNSGNDR,PREDIAB1,HAVARTH3,ACTIN11_,BLOODCHO,...,CHCCOPD1,INTERNET,SEX,CVDSTRK3,GENHLTH,DIFFWALK,_AGEG5YR,BPHIGH4,EMPLOY1,CVDCRHD4
0,-0.603186,0.792724,-0.484239,NaN,-0.757119,NaN,0.304191,-1.103583,NaN,-0.264305,...,-2.093467,1.342898,0.856473,0.092005,2.175324,-1.491981,0.344589,-1.170248,1.416522,0.036159
1,-0.746093,0.308328,0.297694,-0.104627,NaN,NaN,0.304191,0.482986,-0.510429,-0.264305,...,0.121578,-0.405986,0.856473,0.092005,0.381541,0.249125,-0.227804,0.763487,-0.325563,0.036159
2,-0.004763,0.066131,0.297694,NaN,NaN,NaN,0.304191,-1.103583,NaN,-0.264305,...,0.121578,1.342898,0.856473,0.092005,2.175324,-1.491981,0.344589,-1.170248,1.416522,0.036159
3,0.888407,-0.660463,-0.484239,NaN,NaN,NaN,0.304191,-1.103583,NaN,-0.264305,...,0.121578,-0.405986,0.856473,0.092005,2.175324,0.249125,0.344589,0.763487,1.416522,0.036159
4,-0.004763,-1.144859,-0.484239,1.213283,NaN,NaN,0.304191,-1.103583,1.307048,-0.264305,...,0.121578,1.342898,0.856473,0.092005,-0.515351,0.249125,0.916981,-1.170248,-0.673980,0.036159

In [47]:
# Use XGBoost to make predictions
model = XGBClassifier(importance_type='gain', learning_rate=0.01, max_depth=5,  n_estimators=150, scale_pos_weight=33, 
                      use_label_encoder=False)
model.fit(preprocessed_dataset_norm, labels)

[05:42:52] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.4.0/src/learner.cc:1095: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
              importance_type='gain', interaction_constraints='',
              learning_rate=0.01, max_delta_step=0, max_depth=5,
              min_child_weight=1, missing=nan, monotone_constraints='()',
              n_estimators=150, n_jobs=24, num_parallel_tree=1, random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=33, subsample=1,
              tree_method='exact', use_label_encoder=False,
              validate_parameters=1, verbosity=None)

In [48]:
# Predictions
y_pred = model.predict(prediction_dataset_norm)

C:\Users\lilo2\anaconda3\lib\site-packages\xgboost\data.py:112: UserWarning: Use subset (sliced data) of np.ndarray is not recommended because it will generate extra copies and increase memory consumption
  warnings.warn(

In [57]:
# Number of people predicted to be susceptible to Heart attack
np.count_nonzero(y_pred==1)

814

In [58]:
# Number of people predicted to not have Heart attack
np.count_nonzero(y_pred==0)

1415